.filters {
    position: relative;
    .group_radio {
        display: flex;
        .group {
            display: flex;
            align-items: center;
            margin-bottom: 2em;
            label {
                display: block;
                color: white;
                text-transform: uppercase;
                margin-left: 15px;
                font-weight: bold;
                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }
            input.radio {
                width: 20px;
                height: 20px;
                outline: none;
                padding: 10px;
                color: black;
                text-transform: uppercase;
                font-weight: bold;
                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }
            + .group {
                margin-left: 15px;
            }
        }
    }
    .group_text {
        .group {
            margin-bottom: 2em;
            label {
                display: block;
                color: white;
                text-transform: uppercase;
                margin-bottom: 15px;
                font-weight: bold;
                @media (max-width: 768px) {
                    font-size: 12px;
                }
            }
            input.text {
                width: 100%;
                appearance: none;
                border: none;
                height: 40px;
                outline: none;
                padding: 10px;
                color: black;
                text-transform: uppercase;
                font-weight: bold;
                @media (max-width: 768px) {
                    font-size: 12px;
                }
                &::placeholder {
                    font-weight: bold;
                }
            }
        }
    }
    .group_select {
        .group {
            margin-bottom: 2em;
            label {
                display: block;
                color: white;
                text-transform: uppercase;
                margin-bottom: 15px;
                font-weight: bold;
                @media (max-width: 768px) {
                    font-size: 12px;
                }
            }
            select {
                width: 100%;
                appearance: none;
                border: none;
                height: 40px;
                outline: 0;
                padding: 10px 50px 10px 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: black;
                text-transform: uppercase;
                background-image: none;
                font-weight: bold;
                @media (max-width: 768px) {
                    font-size: 12px;
                }
                &::-ms-expand {
                    display: none;
                }
            }
            .select {
                position: relative;
                display: flex;
                width: 100%;
                height: 40px;
                line-height: 3;
                background: white;
                font-weight: bold;
                overflow: hidden;
                option {
                    font-weight: bold;
                    @media (max-width: 768px) {
                        font-size: 14px;
                    }
                }
                &::after {
                    content: '\25E3';
                    position: absolute;
                    height: 40px;
                    top: -6px;
                    right: 0;
                    padding: 0 1em;
                    background-color: white;
                    cursor: pointer;
                    pointer-events: none;
                    transition: .25s all ease;
                    transform: rotate(-45deg);
                    transform-origin: 20px 25px;
                    &:hover {
                        color: black;
                    }
                }
                &.active {
                    &::after {
                        transform: rotate(135deg);
                    }
                }
            }
            select::-webkit-scrollbar {
                width: 2px;
            }
            select::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            select::-webkit-scrollbar-thumb {
                background: #888;
            }
            select::-webkit-scrollbar-thumb:hover {
                background: black;
            }
        }
    }
    .reset {
        position: relative;
        .reset_btn {
            appearance: none;
            background-color: transparent;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
            border: 1px solid grey;
            border-radius: 10px;
            padding: 10px 20px;
            transition: background-color 0.35s ease;
            cursor: pointer;
            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}