.grid {
    display: flex;
    margin: 0 -2em;
    justify-content: flex-start;
    flex-wrap: wrap;
    @media (max-width: 1024px) {
        margin: 0 -1em;
        justify-content: center;
    }
    .grid_item {
        position: relative;
        width: calc(25% - 4em);
        height: auto;
        margin: 2em;
        @media (max-width: 1024px) {
            width: calc(25% - 2em);
            margin: 1em;
        }
        @media (max-width: 768px) {
            width: calc(33.33% - 2em);
            margin: 1em;
        }
        @media (max-width: 540px) {
            width: calc(50% - 2em);
            margin: 1em;
        }
        .poster {
            position: relative;
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: white;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 2em;
                font-size: 32px;
                font-weight: bold;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.5);
                opacity: 0;
                transition: opacity 0.35s ease;
            }
            img {
                border: 1px solid grey;
                width: 100%;
                height: auto;
                object-fit: cover;
                aspect-ratio: 170/250;
                box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            }
            .rate {
                position: absolute;
                bottom: 5px;
                right: 0;
                width: 80px;
                height: 60px;
                border-top: 1px solid grey;
                border-left: 1px solid grey;
                border-right: 1px solid grey;
                color: white;
                font-size: 24px;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(0, 128, 0, 0.5);
                @media (max-width: 768px) {
                    width: 50px;
                    height: 40px;
                    font-size: 16px;
                }
            }
        }
        &:hover {
            .overlay {
                opacity: 1;
            }
        }
        h4 {
            margin-top: 1em;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            line-height: 1.2;
            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
    }
    .grid_item_reviews {
        width: calc(20% - 4rem);
        @media (max-width: 1440px) {
            width: calc(25% - 4rem);
        }
        @media (max-width: 1024px) {
            width: calc(33.33% - 4rem);
        }
        @media (max-width: 768px) {
            width: calc(25% - 3rem);
        }
        @media (max-width: 540px) {
            width: calc(50% - 3rem);
        }
        .poster {
            .overlay {
                font-size: 24px;
                padding: 0 1em;
            }
            img {
                height: auto;
                aspect-ratio: 170/250;
            }
        }
    }
    .empty {
        display: flex;
        width: 100%;
        height: 50vh;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        font-size: 52px;
        padding: 2rem;
        @media (max-width: 1024px) {
            font-size: 32px;  
        }
        @media (max-width: 768px) {
            font-size: 24px;  
        }
    }
}