.container {
    padding: 5rem 10rem 5rem;
    width: 100vw;
    background-color: black;
    @media (max-width: 1440px) {
        top: 3px;
        font-size: 32px;
        padding: 4rem;
    }
    @media (max-width: 1024px) {
        padding: 4rem 2rem;
    }
    h2 {
        font-size: 42px;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-bottom: 2rem;
        @media (max-width: 1024px) {
            font-size: 32px;
        }
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .overview {
            position: relative;
            border: 1px solid grey;
            border-bottom: none;
            padding: 4rem;
            text-align: center;
            width: 100%;
            line-height: 1.2;
            @media (max-width: 1024px) {
                padding: 2rem;
            }
            h3 {
                color: white;
                text-transform: uppercase;
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 30px;
            }
            p {
                color: white;
                font-size: 24px;
                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }
        }
        .verdict {
            display: flex;
            width: 100%;
            flex: 0 0 1;
            border: 1px solid grey;
            background-color: transparent;
            @media (max-width: 540px) {
               flex-direction: column;
            }
            h3 {
                text-align: center;
                font-family: 'Arnel Vintage Demo';
                color: green;
                font-size: 92px;
                text-transform: uppercase;
                margin-bottom: 30px;
                @media (max-width: 768px) {
                    font-size: 42px;
                }
            }
            ul {
                list-style-type: disc;
                padding-left: 2rem;
                @media (max-width: 768px) {
                    padding-left: 1rem;
                }
                li {
                    margin-bottom: 15px;
                    line-height: 1.2;
                    @media (max-width: 768px) {
                        font-size: 16px;
                    }
                }
            }
            div {
                width: 50%;
                padding: 2rem;
                font-size: 24px;
                color: white;
                @media (max-width: 768px) {
                    padding: 2rem 1rem;
                }
                @media (max-width: 540px) {
                    width: 100%;
                }
                &.good {
                    border-right: 1px solid grey;
                    @media (max-width: 540px) {
                        border-bottom: 1px solid grey;
                        border-right: none;
                    }
                }
                &.bad {
                    h3 {
                        color: red;
                    }
                }
            }
        }
        .seasons {
            position: relative;
            .tabs {
                position: relative;
                z-index: 200;
                border: 1px solid grey;
                border-bottom: none;
                display: inline-block;
                button.tab {
                    appearance: none;
                    color: white;
                    background-color: transparent;
                    border: none;
                    padding: 1rem 2rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    cursor: pointer;
                    height: 45px;
                    + button {
                        border-left: 1px solid grey;
                    }
                    &.active {
                        background-color: white;
                        color: black;
                    }
                }
            }
            .season {
                position: absolute;
                top: 45px;
                left: 0;
                z-index: 50;
                opacity: 0;
                &.active {
                    top: 0;
                    position: relative;
                    z-index: 100;
                    opacity: 1;
                }
            }
        }
    }
}