.footer {
    position: relative;
    top: 0;
    left: 0;
    background-color: transparent;
    color: white;
    width: 100%;
    height: auto;
    padding: 2rem 5rem;
    display: flex;
    align-items: center;
    border-top: 1px solid grey;
    @media (max-width: 1024px) {
       padding: 2rem;
    }
    .nav {
        display: flex;
        width: 100%;
        font-size: 24px;
        justify-content: space-between;
        @media (max-width: 768px) {
            flex-direction: column;
        }
        &__logo {
            width: 25%;
            display: flex;
            align-items: center;
            @media (max-width: 768px) {
                width: 100%;
                justify-content: center;
            }
            .logo{
                position: relative;
                display: flex;
                align-items: center;
                &_name {
                    position: relative;
                    top: 5px;
                    letter-spacing: -2px;
                    color: white;
                    font-weight: bold;
                    font-size: 35px;
                    @media (max-width: 1024px) {
                        font-size: 25px;
                        top: 4px;
                    }
                    @media (max-width: 768px) {
                        font-size: 20px;
                        top: 3px;
                    }
                }
                &_svg {
                    margin-right: 10px;
                    width: 35px;
                    height: 35px;
                    @media (max-width: 1024px) {
                        width: 20px;
                        height: 20px;
                    }
                    @media (max-width: 768px) {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
        &__menu {
            display: flex;
            width: 50%;
            justify-content: center;
            @media (max-width: 768px) {
                width: 100%;
                margin: 2rem 0;
            }
            &_left {
               display: flex;
               flex-direction: column;
            }
            &_right {
                display: flex;
                flex-direction: column;
                margin-left: 2em;
            }
            a {
                display: inline-block;
                transition: opacity 0.35s ease;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: bold;
                opacity: 1;
                @media (max-width: 1024px) {
                    font-size: 16px;
                }
                &:hover, &.active {
                   opacity: 0.5;
                }
                + a {
                    margin-top: 15px;
                }
            }
        }
        &__socials {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 25%;
            @media (max-width: 768px) {
                width: 100%;
                justify-content: center;
            }
            > a {
                + a {
                    margin-left: 2rem;
                    @media (max-width: 1024px) {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}